@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

body {
  background-color: #ebecef;
}

.header {
  padding: 20px;
  -webkit-box-shadow: -6px 22px 48px -9px rgba(0, 0, 0, 0.17);
          box-shadow: -6px 22px 48px -9px rgba(0, 0, 0, 0.17);
}

.header .header__wrapepr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__wrapepr .header__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header .header__wrapepr .header__logo img {
  width: 48px;
}

.header .header__wrapepr .header__logo .greetings {
  margin-left: 20px;
  color: #4686da;
  font-size: 30px;
}

.header .header__wrapepr .header__controls {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header .header__wrapepr .header__controls .lang {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 20px;
}

.header .header__wrapepr .header__controls .lang select {
  border: 0px solid black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  max-width: 150px;
  width: 100%;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  /* display: inline-flex; */
  font-size: 24px;
}

.header .header__wrapepr .header__controls .lang option {
  color: #262f49;
}

.header .header__wrapepr .header__controls .lang:focus {
  outline: none;
}

.header .header__wrapepr .header__controls .themeSwitch .btnSwitch {
  background-color: #e0e0e6;
  color: #1d50b5;
  border-radius: 15px;
  font-size: 20px;
  height: 40px;
  width: 100px;
  text-align: center;
  border: 0;
}

.header .header__wrapepr .header__controls .themeSwitch .btnSwitch:hover {
  -webkit-box-shadow: 4px 4px 8px -1px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px -1px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}

.side__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.side__wrapper .sideBar {
  margin-top: 50px;
  max-width: 300px;
  width: 100%;
}

.side__wrapper .sideBar .sideBar__list {
  list-style: none;
  padding: 0;
}

.side__wrapper .sideBar .sideBar__list .ul_li {
  height: 40px;
  font-size: 24px;
  margin-top: 20px;
  padding-left: 40px;
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45s ease-in-out;
  -o-transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}

.side__wrapper .sideBar .sideBar__list .ul_li a {
  color: #b8bdc7;
  text-decoration: none;
}

.side__wrapper .sideBar .sideBar__list .ul_li:hover {
  -webkit-transform: translate3d(20px, 0px, 0px);
          transform: translate3d(20px, 0px, 0px);
}

.side__wrapper .sideBar .sideBar__list .ul_li.active a {
  color: #4686da;
}

.side__wrapper .main {
  margin-left: 20px;
  margin-top: 50px;
}

.side__wrapper .main .main__wrapper .todo__input {
  margin-bottom: 30px;
}

.side__wrapper .main .main__wrapper .todo__input .input__form {
  border: 0;
  border-radius: 15px;
  width: 500px;
  height: 40px;
  background-color: #d7d7dd;
  color: #1d50b5;
  font-size: 16px;
  padding-left: 20px;
  margin-right: 10px;
}

.side__wrapper .main .main__wrapper .todo__input .input__form:focus {
  outline: none;
}

.side__wrapper .main .main__wrapper .todo__input .input__btn {
  border-radius: 15px;
  color: #1d50b5;
  background-color: #d7d7dd;
  width: 110px;
  height: 40px;
  border: 0;
  font-size: 20px;
}

.side__wrapper .main .main__wrapper .todo__input .input__btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 8px -1px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px -1px rgba(34, 60, 80, 0.2);
}

.side__wrapper .main .todo__list {
  min-width: 300px;
  max-width: 600px;
}

.side__wrapper .main .todo__list .todo__ul {
  padding-left: 0;
}

.side__wrapper .main .todo__list .todo__ul .list__el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  list-style: none;
  padding: 10px;
  margin: 10px;
  max-width: 700px;
  border-radius: 13px;
}

.side__wrapper .main .todo__list .todo__ul .list__el .list__checkbox {
  border-radius: 6px;
  width: 20px;
  height: 20px;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-right: 10px;
  background: #eaebee;
}

.side__wrapper .main .todo__list .todo__ul .list__el .list__checkbox:checked {
  background-color: #262f49;
}

.side__wrapper .main .todo__list .todo__ul .list__el .list__bin img {
  width: 14px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
}

.side__wrapper .main .todo__list .todo__ul .list__el:hover {
  cursor: pointer;
  background-color: #e0e0e6;
}

.popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 100;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.message {
  position: relative;
  top: 50%;
  margin: 0 auto;
  background-color: #d7d7dd;
  max-width: 400px;
  padding: 50px 100px;
  z-index: 1000;
}

.message .closeLine {
  text-align: center;
}

.message .closeLine .closePopUpBtn {
  color: #1d50b5;
  background-color: #e0e0e6;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 15px;
  border: 0px;
}

.message .closeLine .closePopUpBtn:hover {
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 8px -1px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px -1px rgba(34, 60, 80, 0.2);
}

.message .message__text {
  margin-bottom: 20px;
}

.message .message__text .message__msg {
  font-size: 24px;
  color: #262f49;
  text-align: center;
}

.hidden_PP {
  visibility: hidden;
  opacity: 0;
}

body.dark {
  background-color: #252e48;
}

body.dark .header .header__wrapepr .header__logo .greetings {
  color: #ffffff;
}

body.dark .header .header__wrapepr .header__controls .lang select {
  border: 0px solid #ffffff;
  color: #ffffff;
  background-color: #252e48;
}

body.dark .header .header__wrapepr .header__controls .lang option {
  color: #ffffff;
}

body.dark .header .header__wrapepr .header__controls .themeSwitch .btnSwitch {
  background-color: #131826;
  color: #fff;
}

body.dark .header .header__wrapepr .header__controls .themeSwitch .btnSwitch:hover {
  -webkit-box-shadow: 0px 5px 53px -25px rgba(0, 188, 255, 0.2) inset;
          box-shadow: 0px 5px 53px -25px rgba(0, 188, 255, 0.2) inset;
}

body.dark .line {
  background: #ffffff;
}

body.dark .side__wrapper .main .main__wrapper .todo__input .input__form,
body.dark .side__wrapper .main .main__wrapper .todo__input .input__btn {
  border: 0;
  background-color: #131826;
  color: #fff;
}

body.dark .side__wrapper .main .main__wrapper .todo__input input[type='text' i]::-webkit-input-placeholder {
  /* Most modern browsers support this now. */
  color: #dde5f3;
}

body.dark .side__wrapper .main .main__wrapper .todo__input input[type='text' i]:-ms-input-placeholder {
  /* Most modern browsers support this now. */
  color: #dde5f3;
}

body.dark .side__wrapper .main .main__wrapper .todo__input input[type='text' i]::-ms-input-placeholder {
  /* Most modern browsers support this now. */
  color: #dde5f3;
}

body.dark .side__wrapper .main .main__wrapper .todo__input input[type='text' i]::placeholder {
  /* Most modern browsers support this now. */
  color: #dde5f3;
}

body.dark .side__wrapper .main .main__wrapper .todo__input .input__btn:hover {
  -webkit-box-shadow: 0px 5px 53px -25px rgba(0, 188, 255, 0.2) inset;
          box-shadow: 0px 5px 53px -25px rgba(0, 188, 255, 0.2) inset;
}

body.dark .side__wrapper .main .todo__list .todo__ul .list__el {
  color: #ffffff;
  background-color: #131826;
}

body.dark .side__wrapper .main .todo__list .todo__ul .list__el .list__checkbox:checked {
  background-color: #ebecef;
}

body.dark .side__wrapper .main .todo__list .todo__ul .list__el .list__bin .bin {
  -webkit-filter: invert(1);
          filter: invert(1);
}

body.dark .side__wrapper .main .todo__list .todo__ul .list__el:hover {
  background-color: #56607e;
}

body.dark .popUp {
  background-color: rgba(0, 0, 0, 0.5);
}

body.dark .message {
  background-color: #252e48;
}

body.dark .message .closeLine .closePopUpBtn {
  color: #fff;
  background-color: #131826;
}

body.dark .message .closeLine .closePopUpBtn:hover {
  -webkit-box-shadow: 4px 4px 8px -1px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px -1px rgba(34, 60, 80, 0.2);
}

body.dark .message .message__text .message__msg {
  color: #ffffff;
}

body.dark .side__wrapper .sideBar .sideBar__list .ul_li a {
  color: #56607e;
}

body.dark .side__wrapper .sideBar .sideBar__list .ul_li.active a {
  color: #ffffff;
}

.hideBin {
  display: none;
}

.checked {
  text-decoration: line-through;
}

.BinDark {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.bin {
  -webkit-filter: invert(0);
          filter: invert(0);
}

.inpDisplay {
  display: none;
}

::-webkit-input-placeholder {
  color: #909090;
}

:-ms-input-placeholder {
  color: #909090;
}

::-ms-input-placeholder {
  color: #909090;
}

::placeholder {
  color: #909090;
}
