//common
$workColour: #d7453a;
$PersonalColour: #5552b9;
$GrossColour: #73bedf;
// light theme
$bgrCol: #fff;
$lShadow: #91bdff;
$lBtnBgrAct: #8ab2ff;
$lBtnBgr: #c6d9ff;
$lBtnTextAct: #1d50b5;
$llBtnText: #607aac;
$lLiText: #262f49;
$lHeadTextAct: #4686da;
$lTextPas: #c8cfdc;
$lSwitchBgr: #86afff;
$lSwitchBtn: #ffffff;
$lLightSwitchCol: #262f49;
$lDarkSwitchCol: #c8cfdc;
$lInpBorderCol: #86afff;
$lInpColour: #c6d9ff;
// dark theme
$dbgrCol: #252e48;
$dShadow: #aeb0ba;
$dBtnBgrAct: #ffffff;
$dBtnBgr: #dde5f3;
$dBtnTextAct: #252e48;
$dlBtnText: #56607e;
$dLiText: #ffffff;
$dHeadTextAct: #ffffff;
$dTextPas: #56607e;
$dSwitchBgr: #131826;
$dSwitchBtn: #ffffff;
$dLightSwitchCol: #56607e;
$dDarkSwitchCol: #ffffff;
$dInpBorderCol: #ffffff;
$dInpColour: #56607e;
