body.dark {
  // header.scss
  background-color: $dbgrCol;
  .header {
    .header__wrapepr {
      .header__logo {
        .greetings {
          color: $dHeadTextAct;
        }
      }
      .header__controls {
        .lang {
          select {
            border: 0px solid $dInpBorderCol;
            color: $dBtnBgrAct;
            background-color: $dbgrCol;
          }
          option {
            color: $dLiText;
          }
        }

        .themeSwitch {
          .btnSwitch {
            background-color: #131826;
            color: #fff;
          }
          .btnSwitch:hover {
            box-shadow: 0px 5px 53px -25px rgba(0, 188, 255, 0.2) inset;
          }
        }
      }
    }
  }
  .line {
    background: $dBtnBgrAct;
  }
  // mainContent.scss

  .side__wrapper {
    .main {
      .main__wrapper {
        .todo__input {
          .input__form,
          .input__btn {
            border: 0;
            background-color: #131826;
            color: #fff;
          }
          input[type='text' i]::placeholder {
            /* Most modern browsers support this now. */
            color: $dBtnBgr;
          }
          .input__btn:hover {
            box-shadow: 0px 5px 53px -25px rgba(0, 188, 255, 0.2) inset;
          }
        }
      }

      .todo__list {
        //ul list
        .todo__ul {
          .list__el {
            color: $dBtnBgrAct;
            background-color: #131826;
            //   checkbox

            .list__checkbox:checked {
              background-color: $bgrCol;
            }
            // .work {
            //   border: 2px solid $workColour;
            // }
            // .personal {
            //   border: 2px solid $PersonalColour;
            // }
            // .gross {
            //   border: 2px solid $GrossColour;
            // }
            //bin
            .list__bin {
              .bin {
                filter: invert(1);
              }
            }
          }
          .list__el:hover {
            background-color: $dInpColour;
          }
        }
      }
    }
  }

  // popUp.scss
  .popUp {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .message {
    background-color: #252e48;
    .closeLine {
      .closePopUpBtn {
        color: #fff;
        background-color: #131826;
      }
      .closePopUpBtn:hover {
        box-shadow: 4px 4px 8px -1px rgba(34, 60, 80, 0.2);
      }
    }
    .message__text {
      .message__msg {
        color: $dLiText;
      }
    }
  }

  // sideBar.scss
  .side__wrapper {
    .sideBar {
      .sideBar__list {
        .ul_li {
          a {
            color: $dTextPas;
          }
        }
        .ul_li.active {
          a {
            color: $dHeadTextAct;
          }
        }
      }
    }
  }
}
